## Describe the data set

In [ ]:
import pandas as pd

# Load the uploaded file to examine its contents
file_path = 'PlantGrowth.csv'
data = pd.read_csv(file_path)

data.head()

   rownames  weight group
0         1    4.17  ctrl
1         2    5.58  ctrl
2         3    5.18  ctrl
3         4    6.11  ctrl
4         5    4.50  ctrl

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   rownames  30 non-null     int64
 1   weight    30 non-null     float64
 2   group     30 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 852.0+ bytes

In [5]:
data.describe

<bound method NDFrame.describe of     rownames  weight group
0          1    4.17  ctrl
1          2    5.58  ctrl
2          3    5.18  ctrl
3          4    6.11  ctrl
4          5    4.50  ctrl
5          6    4.61  ctrl
6          7    5.17  ctrl
7          8    4.53  ctrl
8          9    5.33  ctrl
9         10    5.14  ctrl
10        11    4.81  trt1
11        12    4.17  trt1
12        13    4.41  trt1
13        14    3.59  trt1
14        15    5.87  trt1
15        16    3.83  trt1
16        17    6.03  trt1
17        18    4.89  trt1
18        19    4.32  trt1
19        20    4.69  trt1
20        21    6.31  trt2
21        22    5.12  trt2
22        23    5.54  trt2
23        24    5.50  trt2
24        25    5.37  trt2
25        26    5.29  trt2
26        27    4.92  trt2
27        28    6.15  trt2
28        29    5.80  trt2
29        30    5.26  trt2>

#### The dataset is fully populated, with no missing values, and the variables are of the appropriate types for analysis. Consists of 30 observations with the following columns: 1) rownames: Identifier for each observation (integer values); 2)weight: The weight of the plants (continuous numerical values);3) group: The treatment group the plant belongs to, which includes: ctrl (control group), trt1 (treatment 1),trt2 (treatment 2)

## Describe what a t-test is, how it works, and what the assumptions are.
#### A t-test is a statistical method used to compare the means of two groups to determine if they are significantly different from each other. It calculates the t-statistic, which compares the difference in group means relative to the variability in the data. The t-statistic is compared against a critical value from the t-distribution (based on degrees of freedom) to determine significance Assumptions: data is approximately normally distributed. Two groups have equal variances.Observations are independent.

### Perform a t-test to determine whether there is a significant difference between the two treatment groups trt1 and trt2

In [7]:
# Attempting the t-test once more with a clear breakdown
from scipy.stats import ttest_ind

# Selecting data for the two treatment groups
trt1_group = data[data['group'] == 'trt1']['weight']
trt2_group = data[data['group'] == 'trt2']['weight']

# Conducting the t-test
t_test_results = ttest_ind(trt1_group, trt2_group, equal_var=True)

t_test_results

TtestResult(statistic=np.float64(-3.0100985421243616), pvalue=np.float64(0.0075184261182198574), df=np.float64(18.0))

### Perform ANOVA to determine whether there is a significant difference between the three treatment groups ctrl, trt1, and trt2

In [8]:
from scipy.stats import f_oneway

# Extract weights for the three groups: ctrl, trt1, and trt2
weights_ctrl = data[data['group'] == 'ctrl']['weight']
weights_trt1 = data[data['group'] == 'trt1']['weight']
weights_trt2 = data[data['group'] == 'trt2']['weight']

# Perform one-way ANOVA
anova_result = f_oneway(weights_ctrl, weights_trt1, weights_trt2)

anova_result

F_onewayResult(statistic=np.float64(4.846087862380136), pvalue=np.float64(0.0159099583256229))